{% extends 'holachatsweb/base.html' %}
{% load static %}

{% block description %}
	Welcome to holaCHATS, we are Live Chats support sytem. We offer 24/7 live chat support to your customers, giving your customers answers to all their questions concerning your services.
{% endblock %}

{% block title %}
	holaChats | Welcome Home
{% endblock %}


{% block content %}
	<header class="text-center">
		<h1>Welcome to <img src="{% static 'imgs/holachats-logo-text.png' %}"></h1>
	</header>
	<section class="container section-1">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 clearfix first-div">
				<img src="{% static 'imgs/chat-ss-1.jpg' %}" class="float-left" data-aos="zoom-in" data-aos-duration="3000">
				<img src="{% static 'imgs/chat-ss-2.jpg' %}" class="float-right" data-aos="zoom-in-up" data-aos-duration="3000">
				<img src="{% static 'imgs/chat-ss-3.jpg' %}" class="" data-aos="zoom-out-right" data-aos-duration="3000">
				<br>
				<div class="clearfix mt-5">
					<small class="font-weight-bold">
						holaCHATS has helped our clients retain their customers running into hundreds of thousands
					</small>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 p-5">
				<h2 class="">A new approach to faster, 24/7 websites Live Chat.</h2>
				<div class="border-bottom border-dark mt-3"></div>
				<div class="text-center" id="holaweb">
					<img src="{% static 'imgs/holachats-logo-text-2.png' %}" class="hola-logo"> <i class="fas fa-plus"></i>
					<img src="{% static 'imgs/site-generator.svg' %}" class="website-png"><span>Your Website</span>
				</div>
				<div class="text-justify">
					<p>
						With holaCHATS live chat support system, your website will have 24/7 chats agents that have studied and understood your business. Our agents are all over the globe. Presently, we support FIVE Languages
						<ul>
							<i class="fas fa-language"></i>
							<li>English</li>	
							<i class="fas fa-language"></i>
							<li>Spanish</li>
							<i class="fas fa-language"></i>	
							<li>French</li>	
							<i class="fas fa-language"></i>
							<li>Italian</li>	
							<i class="fas fa-language"></i>
							<li>Hebrew</li>	
						</ul>
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="container section-2" id="withoutLiveChat">
		<h2 data-aos="zoom-in" data-aos-duration="3000">Without Live Chat Support!</h2>
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<img src="{% static 'imgs/accessible-24px.svg' %}" data-aos="fade-right" data-aos-duration="3000">
			</div>
			<div class="col-lg-3 col-md-3">
				<h3>Accessiblity Issue</h3>
			</div>
			<div class="col-lg-6 col-md-6">
				<h3>Not having Live Chat Support</h3>
				<p>
					Giving your customers ease of accessing help is paramount for the growth of your business.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<img src="{% static 'imgs/sentiment_very_dissatisfied-24px.svg' %}" data-aos="fade-left" data-aos-duration="3000">
			</div>
			<div class="col-lg-3 col-md-3">
				<h3>Customers Dissatisfaction</h3>
			</div>
			<div class="col-lg-6 col-md-6">
				<h3></h3>
				<p>Whether you are a business that sells goods or you render services, customer's satisfaction is a priority.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<img src="{% static 'imgs/receipt-24px.svg' %}" data-aos="fade-up-right" data-aos-duration="3000">
			</div>
			<div class="col-lg-3 col-md-3">
				<h3>Less Sales and Less ROI</h3>
			</div>
			<div class="col-lg-6 col-md-6">
				<h3></h3>
				<p>You will want to keep your customers satisfied and keep them as returning customers as well attract more customers.<p>
			</div>
		</div>
		<div id="whatholaChatDelivers"></div>
	</section>
	<section class="container section-3">
		<h2 data-aos="zoom-in" data-aos-duration="3000">What holaCHATS delivers</h2>
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<h1 class="text-center"></h1>
				<div>
					<img src="{% static 'imgs/faster-websites.svg' %}">
				</div>
				<div>
					<h4 class="font-weight-bold">Faster Response</h4>
					<p>
						We have professional Customer care agents around the world. They are available 24/7 and expereinced.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<h1 class="text-center"></h1>
				<div>
					<img src="{% static 'imgs/secure-infrastructure.svg' %}">
				</div>
				<div>
					<h4 class="font-weight-bold">Information Security</h4>
					<p>
						With holaCHATS, the information of our clients and their customer are secured.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<h1 class="text-center"></h1>
				<div>
					<img src="{% static 'imgs/high-scale.svg' %}">
				</div>
				<div>
					<h4 class="font-weight-bold">Remote and Cloud</h4>
					<p>
						We have professionals that understands all digital demands. We offer strictly virtual solutions.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<h1 class="text-center"></h1>
				<div>
					<img src="{% static 'imgs/improved-developer-experience.svg' %}">
				</div>
				<div>
					<h4 class="font-weight-bold">Introduce Digital Professionalism</h4>
					<p>
						Our agents are experienced IT professionals, and can help you in all areas of IT.
					</p>
				</div>
			</div>
		</div>
		<div id="howOuSolutionWorks"></div>
	</section>
	<section class="container section-4">
		<h2 data-aos="zoom-in" data-aos-duration="3000">How Our Solution Works</h2>
		<ol>
			<li>
				<h3>
					We take an intensive study of your business
				</h3>
				<p class="text-left">
					Before we decide which of our solution is best for your business, we will take a careful and intensive study of your business; products and services.
				</p>
				<img src="{% static 'imgs/holachats-how-it-works.svg' %}" class="img-fluid">
			</li>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<li>
						<h3>
							Integration and agents assignment
						</h3>
						<p class="text-left">
							After a careful study of your business, we device stratedies and design a model to respond to visitors and customers alike. We then assign our chat agents
						</p>
					</li>
				</div>
				<div class="col-lg-6 col-md-6">
					<li>
						<h3>
							24/7 onsite LiveChat Support 
						</h3>
						<p class="text-left">
							With all setup, our agents will be live 24/7 on your website to welcome and reply to questions from your site visitors and customers.
						</p>
					</li>
				</div>
			</div>
		</ol>
		<div id="keyBenefits"></div>
	</section>
	<section class="container section-5">
		<h2 data-aos="zoom-in" data-aos-duration="3000">Key Benefits - How it helps</h2>
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<h3>Organized Customer Care</h3>
			</div>
			<div class="col-lg-4 col-md-4">
				<span></span>
			</div>
			<div class="col-lg-4 col-md-4">
				<img src="{% static 'imgs/running-sites-on-webservers.svg' %}">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<h3>Customer's Satisfaction</h3>
			</div>
			<div class="col-lg-4 col-md-4">
				<span></span>
			</div>
			<div class="col-lg-4 col-md-4">
				<img src="{% static 'imgs/prerendered-for-speed.svg' %}">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<h3>High Return On Investment(ROI)</h3>
			</div>
			<div class="col-lg-4 col-md-4">
				<span></span>
			</div>
			<div class="col-lg-4 col-md-4">
				<img src="{% static 'imgs/rendered-at-runtimes.svg' %}">
			</div>
		</div>
		<div id="aboutUs"></div>
	</section>
	<section class="jumbotron jumbotron-fluid section-6">
		<div class="col-lg-12 col-md-12">
			<p>
				holaCHATS: Your sure way to 24/7 live chat support.
			</p>
			<h2>Progressive Concept. Proven Results.</h2>
			<p>
				With holaCHATS, you are guaranteed 24/7 live chat support services on your website. We deliver professional customer service solutions, keeping your customers happy and satisfied.
				<br>
				With our solutions, you are sure of these three offers:
			</p>
			<div class="row mt-5">
				<div class="col-lg-4 col-md-4">
					<img src="{% static 'imgs/undraw_calendar_dutt.svg' %}" class="img-fluid text-center">
					<h3>24/7 Live Support</h3>
					<p>
						We have professional agents around the world that are always available for quick and immediate response to site visitors
					</p>
				</div>
				<div class="col-lg-4 col-md-4 border-left border-light">
					<img src="{% static 'imgs/undraw_secure_login_pdn4.svg' %}" class="img-fluid">
					<h3>Data Security</h3>
					<p>
						With our solutions available on your site, your customers gets a real sense of belonging and human presence not bot. They are satisfied because their information is secured.
					</p>
				</div>
				<div class="col-lg-4 col-md-4 border-left border-light">
					<img src="{% static 'imgs/undraw_preferences_uuo2.svg' %}" class="img-fluid">
					<h3>High Returning Customers</h3>
					<p>
						When a customer is satisfied for a service, there is 80% tendency that they will return. And also invite others.
					</p>
				</div>
			</div>
		</div>
		<div id="contactSales"></div>
	</section>
	<section class="container section-7 border-bottom border-dark">
		<h1 data-aos="zoom-in" data-aos-duration="3000">Ready to try holaCHATS?</h1>
		<span>Get your site configured in 30 minutes!</span>
		<div>
			<button class="btn btn-lg btn-purple">Get Started Now!</button> <a href="#"><span>Or talk to our team first.<i class="fas fa-arrow-right ml-1"></i></span></a>
		</div>
		<div>
			<img src="{% static 'imgs/holachats-just-logo.png' %}" class="img-fluid">
			<p class="font-weight-bold">Stay up to date with all holaCHATS' news</p>
			<form class="form-inline">
				{% csrf_token %}
				<div class="form-group mx-sm mb-2">
				    <input type="email" class="form-control" placeholder="Email Address">
				  </div>
				  <button type="submit" class="btn btn-purple mb-2">Subscribe</button>
			</form>
		</div>
	</section>
{% endblock %}